<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/> 
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel='stylesheet' type='text/css' href='/static/base.css'/>
        {% block head %}{% endblock %}
    </head>
    <body>
    <div id="container">
        <div id="header">
            <div id="menu">
                <ul>
                    <li><a href="/">首页</a></li>
                    <li class="menuDiv"></li>
                    <li><a href="/txl/home/">工具</a></li>
                    <li class="menuDiv"></li>
                    <li><a href="/blog/home/">博客</a></li>
                    <li class="menuDiv"></li>
                    <li><a href="/documents/home/">公文</a></li>
                    <li class="menuDiv"></li>
                    <li><a href="/report/home/">报表</a></li>
                </ul>
            </div>
            <div id="banner"/>
        </div>
        <div id='main'>
            {% block caption %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
        <div id ='footer'>
            <p id='copyright'>&copy;Copyright 2014 by Huangtao</p>
        </div>
    </div>
    </body>
</html>
